<mat-expansion-panel id="panel" #panel class="mat-elevation-z">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <!-- TITLE_CONTENT:START -->
      <mat-icon
        *ngIf="iconName"
        aria-hidden="false"
        aria-label="toggle menu icon"
        >{{ iconName }}</mat-icon
      >
      <span style="margin-left: 16px">
        {{ title }}
      </span>
      <!-- TITLE_CONTENT:END -->
    </mat-panel-title>
    <mat-panel-description>
      <!-- DESCRIPTION_CONTENT:START -->
      {{ description }}
      <!-- DESCRIPTION_CONTENT:START -->
    </mat-panel-description>
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
    <div>hello</div>
  </ng-template>
</mat-expansion-panel>
