<mat-toolbar color="primary">
  <button
    title="Toggle sidenav"
    aria-label="Toggle sidenav"
    mat-icon-button
    *ngIf="isHandset$ | async; else desktopButton"
    (click)="toggleVisibility()"
  >
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>

  <ng-template #desktopButton>
    <button
      title="Minimize menu"
      aria-label="Minimize menu"
      mat-icon-button
      (click)="toggleSize()"
    >
      <mat-icon aria-hidden="false" aria-label="toggle menu icon"
        >{{ (mini$ | async) ? "menu" : "close" }}
      </mat-icon>
    </button>
  </ng-template>

  <span>mat-ui</span>
</mat-toolbar>
<mat-sidenav-container (backdropClick)="hide()" class="sidenav-container">
  <mat-sidenav
    [@sidenav-size]="(isHandset$ | async) ? 'sidenav-over' : setAnimation()"
    #sidenav
    disableClose
    class="sidenav"
    fixedInViewport
    fixedTopGap
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="visible$ | async"
  >
    <mat-nav-list>
      <ng-container *ngIf="mini$ | async; else hugeList">
        <a
          [@list-icons-opacity]
          *ngFor="let option of options"
          mat-list-item
          routerLink="/"
        >
          <mat-icon aria-hidden="false" aria-label="toggle menu icon">{{
            option.icon
          }}</mat-icon>
        </a>
      </ng-container>

      <ng-template #hugeList>
        <mat-accordion displayMode="flat">
          <app-accordion-item
            [@list-accordion-opacity]
            *ngFor="let option of options"
            [title]="option.name"
            [iconName]="option.icon"
          >
          </app-accordion-item>
        </mat-accordion>
      </ng-template>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content
    [@content-margin]="(isHandset$ | async) ? 'sidenav-over' : setAnimation()"
  >
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
