@use '~@angular/material' as mat;
@use './theming' as custom-theming;
@use './mixins' as mixins;

@include mat.core();

@include mixins.inside-light-theme {
  @include mat.all-component-themes(custom-theming.$light-theme);
}

@include mixins.inside-dark-theme {
  @include mat.all-component-themes(custom-theming.$dark-theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
* {
  box-sizing: border-box;
}

// relocated from index.html
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
